Niche Evalutor.json
{
  "name": "Niche Evalutor",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert Business Strategy Analyst and Decision-Making AI.\n\nYour primary function is to analyze two separate market research reports for the same niche but at different geographic levels (for example: \"Bakeries in Paris\" and \"Bakeries in France\"). Your goal is to determine whether the client should KEEP or DROP the niche entirely, based solely on the combined insights from these reports.\n\n//-- CONTEXT --//\n\nYou will be provided with two market research reports as input. Each report was generated by a research analyst and fact-checked. They contain sections on:\n\nTotal Addressable Market (TAM)\n\nCompetitive Landscape\n\nMarket Trends & Growth Potential\n\nBarriers to Entry & Risks\n\nReport 1 (City-Level): {{ $('Extract from File').item.json.text }}\nReport 2 (Country-Level): {{ $json.text }}\n\n//-- OBJECTIVE --//\n\nYour task is to produce a Strategic Decision Report that includes:\n\n1. Immediate Verdict\nState clearly and immediately whether you recommend:\nKEEPING the niche (proceed with further development and investment)\nor\nDROPPING the niche (do not pursue further).\n\nYour decision must be binary — no “maybe” or “it depends.”\n\n2. High-Level Executive Summary\nBriefly explain the two most compelling reasons for your decision, referencing the most impactful data points from both reports.\n\n3. Integrated Analysis\nSynthesize findings from both reports into a single evaluation of the niche across these criteria:\n\nTotal Addressable Market (TAM) — What is the combined market size and potential lead volume?\n\nCompetitive Landscape — What is the saturation level and nature of competition?\n\nGrowth Potential — What trends indicate future expansion or contraction?\n\nBarriers to Entry & Risks — What obstacles might prevent success or cause failure?\n\n4. Detailed Justification\nWrite a thorough, logical argument supporting your decision to KEEP or DROP the niche.\nYou MUST:\n\nUse direct evidence from the reports for every claim.\n\nShow why the strengths outweigh weaknesses (if KEEPING) or why the weaknesses outweigh strengths (if DROPPING).\n\nMake your reasoning clear enough for a business owner to act on confidently.\n\n5. Actionable Next Steps\nIf the niche is kept, list 3–5 immediate, practical steps to validate and enter the market.\nIf the niche is dropped, list 2–3 recommended alternative actions (e.g., pivoting criteria, exploring adjacent niches).\n\n//-- OUTPUT FORMATTING --//\n\nEntire output MUST be in Markdown as per the format of {{ $('Extract Niche Evaluation').item.json.text }}\n\nUse headings (##), bold text (** **), and bullet points (*) for clarity.\n\nThe tone should be authoritative, confident, and professional.\n\nCRITICAL INSTRUCTION:\nYour entire analysis and justification must be based only on the information in the two provided reports. Do not use outside knowledge or assumptions.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1728,
        -160
      ],
      "id": "499618cf-2122-4e37-95b6-4efde089b594",
      "name": "Niche Decision Maker"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output }}",
        "options": {}
      },
      "id": "88e68b2c-a1ec-44ae-911b-922abe595e4d",
      "name": "Markdown3",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        2096,
        -160
      ]
    },
    {
      "parameters": {
        "operation": "URL/HTML to PDF",
        "convertType": "htmlToPDF",
        "html": "={{ $json.finalHtml }}",
        "advancedOptions": {}
      },
      "id": "bdd0bde3-6750-42ab-bdf0-9084e5c6f3ec",
      "name": "PDFco Api3",
      "type": "n8n-nodes-pdfco.PDFco Api",
      "typeVersion": 1,
      "position": [
        2528,
        -160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "pdfcoApi": {
          "id": "QR8LL2INFm4xonem",
          "name": "PDF.co account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ 'Final Niche Evaluation for '+ $('Form Trigger').item.json['Research Topic on Country Level'] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1BpZGWZFaJJaUlvekzam_zRsupJc5Fpvu",
          "mode": "list",
          "cachedResultName": "N8N Research Automation",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1BpZGWZFaJJaUlvekzam_zRsupJc5Fpvu"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2976,
        -160
      ],
      "id": "c53a95b2-b2e2-4afc-9e4a-f464c007d541",
      "name": "Upload file3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0Ik6XHDmNVxwJiTm",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('PDFco Api3').first().json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2752,
        -160
      ],
      "id": "860f6d77-c58e-470a-8d69-fee6ba74913e",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f96f83e7-bde7-4a30-978d-eb0ff6699bb4",
              "name": "finalHtml",
              "value": "={{ '<!DOCTYPE html><html lang=\"en\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"><title>Market Research Report</title><style>body{font-family: Arial, sans-serif;line-height: 1.6;color: #333;margin: 40px;}h1, h2, h3{color: #2c3e50;line-height: 1.2;margin-top: 30px;margin-bottom: 15px;border-bottom: 1px solid #ecf0f1;padding-bottom: 5px;}h1{font-size: 28px;}h2{font-size: 24px;}h3{font-size: 20px;}p{margin-bottom: 15px;}ul{padding-left: 20px;margin-bottom: 15px;}li{margin-bottom: 8px;}strong, b{color: #000;}</style></head><body>' + $('Markdown3').item.json.data + '</body></html>' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3ee04beb-31a4-4750-8cd1-60a7e4756951",
      "name": "Formatting3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2320,
        -160
      ]
    },
    {
      "parameters": {
        "formTitle": "Niche Evaluation",
        "formDescription": "This form will trigger a workflow that will automate your market research by providing a comprehensive report on the topic you present to it. Please insert the topic and any context the client has provided you with such that the workflow can take it into consideration.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Research Topic on City Level",
              "placeholder": "This is where you insert A research topic.",
              "requiredField": true
            },
            {
              "fieldLabel": "Deeper Niche Research Template",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            },
            {
              "fieldLabel": "Niche Evalutation Template",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            },
            {
              "fieldLabel": "# of employees for 1-10",
              "placeholder": "5000",
              "requiredField": true
            },
            {
              "fieldLabel": "# of employees for 11-20",
              "requiredField": true
            },
            {
              "fieldLabel": "# of employees for 21-50",
              "requiredField": true
            },
            {
              "fieldLabel": "# of employees for 51-100",
              "requiredField": true
            },
            {
              "fieldLabel": "# of employees for 101-200",
              "requiredField": true
            },
            {
              "fieldLabel": "# of employees for 201-500",
              "requiredField": true
            },
            {
              "fieldLabel": "# of employees for 501-1000",
              "requiredField": true
            },
            {
              "fieldLabel": "# of employees for 1001-2000",
              "requiredField": true
            },
            {
              "fieldLabel": "# of employees for 2001-5000",
              "requiredField": true
            },
            {
              "fieldLabel": "# of employees for 5001-10000",
              "requiredField": true
            },
            {
              "fieldLabel": "# of employees for 10001+",
              "requiredField": true
            },
            {
              "fieldLabel": "Research Topic on Country Level",
              "requiredField": true
            },
            {
              "fieldLabel": "# of employees for 1-10 (2)",
              "requiredField": true
            },
            {
              "fieldLabel": "# of employees for 11-20 (2)",
              "requiredField": true
            },
            {
              "fieldLabel": "# of employees for 21-50 (2)",
              "requiredField": true
            },
            {
              "fieldLabel": "# of employees for 51-100 (2)",
              "requiredField": true
            },
            {
              "fieldLabel": "# of employees for 101-200 (2)",
              "requiredField": true
            },
            {
              "fieldLabel": "# of employees for 201-500 (2)",
              "requiredField": true
            },
            {
              "fieldLabel": "# of employees for 501-1000 (2)",
              "requiredField": true
            },
            {
              "fieldLabel": "# of employees for 1001-2000 (2)",
              "requiredField": true
            },
            {
              "fieldLabel": "# of employees for 2001-5000 (2)",
              "requiredField": true
            },
            {
              "fieldLabel": "# of employees for 5001-10000 (2)",
              "requiredField": true
            },
            {
              "fieldLabel": "# of employees for 10001+ (2)",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "895c9808-af2e-46c3-83b7-8b22e911d6ce",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -240,
        -160
      ],
      "webhookId": "12f3cce5-3564-420c-b997-c779dd9aa81e"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "EzO6VY2AlgZw31A9",
          "mode": "list",
          "cachedResultName": "Niche Research National"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "# of employees for 11-20": "={{ $('Form Trigger').item.json['# of employees for 11-20 (2)'] }}",
            "# of employees for 21-50": "={{ $('Form Trigger').item.json['# of employees for 21-50 (2)'] }}",
            "# of employees for 51-100": "={{ $('Form Trigger').item.json['# of employees for 51-100 (2)'] }}",
            "# of employees for 101-200": "={{ $('Form Trigger').item.json['# of employees for 101-200 (2)'] }}",
            "# of employees for 201-500": "={{ $('Form Trigger').item.json['# of employees for 201-500 (2)'] }}",
            "# of employees for 501-1000": "={{ $('Form Trigger').item.json['# of employees for 501-1000 (2)'] }}",
            "# of employees for 1001-2000": "={{ $('Form Trigger').item.json['# of employees for 1001-2000 (2)'] }}",
            "# of employees for 2001-5000": "={{ $('Form Trigger').item.json['# of employees for 2001-5000 (2)'] }}",
            "# of employees for 5001-10000": "={{ $('Form Trigger').item.json['# of employees for 5001-10000 (2)'] }}",
            "# of employees for 10001+": "={{ $('Form Trigger').item.json['# of employees for 10001+ (2)'] }}",
            "Deeper Niche Research Template": "={{ $('Form Trigger').item.json['Deeper Niche Research Template'] }}",
            "Research Topic on Country Level": "={{ $('Form Trigger').item.json['Research Topic on Country Level'] }}",
            "# of employees for 1-10": "={{ $('Form Trigger').item.json['# of employees for 1-10 (2)'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "# of employees for 1-10",
              "displayName": "# of employees for 1-10",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "# of employees for 11-20",
              "displayName": "# of employees for 11-20",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "# of employees for 21-50",
              "displayName": "# of employees for 21-50",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "# of employees for 51-100",
              "displayName": "# of employees for 51-100",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "# of employees for 101-200",
              "displayName": "# of employees for 101-200",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "# of employees for 201-500",
              "displayName": "# of employees for 201-500",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "# of employees for 501-1000",
              "displayName": "# of employees for 501-1000",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "# of employees for 1001-2000",
              "displayName": "# of employees for 1001-2000",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "# of employees for 2001-5000",
              "displayName": "# of employees for 2001-5000",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "# of employees for 5001-10000",
              "displayName": "# of employees for 5001-10000",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "# of employees for 10001+",
              "displayName": "# of employees for 10001+",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Deeper Niche Research Template",
              "displayName": "Deeper Niche Research Template",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Research Topic on Country Level",
              "displayName": "Research Topic on Country Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1072,
        -160
      ],
      "id": "180fe84a-01cc-4229-9ebf-f4b950a45fc7",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zfAR6NVuprEEitMq",
          "mode": "list",
          "cachedResultName": "Niche Research Local"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "# of employees for 1-10": "={{ $('Form Trigger').item.json['# of employees for 1-10'] }}",
            "# of employees for 11-20": "={{ $('Form Trigger').item.json['# of employees for 11-20'] }}",
            "# of employees for 21-50": "={{ $('Form Trigger').item.json['# of employees for 21-50'] }}",
            "# of employees for 51-100": "={{ $('Form Trigger').item.json['# of employees for 51-100'] }}",
            "# of employees for 101-200": "={{ $('Form Trigger').item.json['# of employees for 101-200'] }}",
            "# of employees for 201-500": "={{ $('Form Trigger').item.json['# of employees for 201-500'] }}",
            "# of employees for 501-1000": "={{ $('Form Trigger').item.json['# of employees for 501-1000'] }}",
            "# of employees for 1001-2000": "={{ $('Form Trigger').item.json['# of employees for 1001-2000'] }}",
            "# of employees for 2001-5000": "={{ $('Form Trigger').item.json['# of employees for 2001-5000'] }}",
            "# of employees for 5001-10000": "={{ $('Form Trigger').item.json['# of employees for 5001-10000'] }}",
            "# of employees for 10001+": "={{ $('Form Trigger').item.json['# of employees for 10001+'] }}",
            "Deeper Niche Research Template": "={{ $('Form Trigger').item.json['Deeper Niche Research Template'][0] }}",
            "Research Topic on City Level": "={{ $('Form Trigger').item.json['Research Topic on City Level'] }}"
          },
          "matchingColumns": [
            ""
          ],
          "schema": [
            {
              "id": "# of employees for 1-10",
              "displayName": "# of employees for 1-10",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "# of employees for 11-20",
              "displayName": "# of employees for 11-20",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "# of employees for 21-50",
              "displayName": "# of employees for 21-50",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "# of employees for 51-100",
              "displayName": "# of employees for 51-100",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "# of employees for 101-200",
              "displayName": "# of employees for 101-200",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "# of employees for 201-500",
              "displayName": "# of employees for 201-500",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "# of employees for 501-1000",
              "displayName": "# of employees for 501-1000",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "# of employees for 1001-2000",
              "displayName": "# of employees for 1001-2000",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "# of employees for 2001-5000",
              "displayName": "# of employees for 2001-5000",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "# of employees for 5001-10000",
              "displayName": "# of employees for 5001-10000",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "# of employees for 10001+",
              "displayName": "# of employees for 10001+",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Deeper Niche Research Template",
              "displayName": "Deeper Niche Research Template",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Research Topic on City Level",
              "displayName": "Research Topic on City Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        400,
        -160
      ],
      "id": "1828ee3f-65f2-478e-ae46-1b870f689825",
      "name": "Execute Workflow1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        640,
        -160
      ],
      "id": "5eff04e4-1bf6-4856-a5e4-3b5c1768e1d2",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0Ik6XHDmNVxwJiTm",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        848,
        -160
      ],
      "id": "c9f8374f-44cb-4889-aa9b-e84e54015109",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1296,
        -160
      ],
      "id": "18329a40-1896-488c-9b5a-9677460bdb1d",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0Ik6XHDmNVxwJiTm",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1520,
        -160
      ],
      "id": "7d6d99af-fb9d-4a47-a00a-797f02ddc6a3",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1680,
        112
      ],
      "id": "54e97539-ce13-46a1-be21-96ad657a242b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "WdN7Hrhri185NY8l",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=Deeper_Niche_Research_Template",
        "options": {}
      },
      "id": "b5da4c03-89d0-4966-b073-70c2a833c0f8",
      "name": "Extract Deeper Niche Research",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -16,
        -160
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=Niche_Evalutation_Template",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        192,
        -160
      ],
      "id": "19541f29-2973-45ad-88eb-8bdde2144723",
      "name": "Extract Niche Evaluation"
    }
  ],
  "pinData": {},
  "connections": {
    "Niche Decision Maker": {
      "main": [
        [
          {
            "node": "Markdown3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown3": {
      "main": [
        [
          {
            "node": "Formatting3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDFco Api3": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Upload file3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatting3": {
      "main": [
        [
          {
            "node": "PDFco Api3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Extract Deeper Niche Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow1": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Niche Decision Maker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Niche Decision Maker",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract Deeper Niche Research": {
      "main": [
        [
          {
            "node": "Extract Niche Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Niche Evaluation": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9a17c871-a348-4698-9a0d-e7d8b2fb3f47",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "43461cd0579eb39bb136f13e326653b2e60bf16e70f3126062643544064e7d85"
  },
  "id": "Y7f7veRnTuphQum3",
  "tags": []
}